

.footer img {
  max-width: 150px; 
  height: auto; 
  margin-top: 10px; 
  padding: 10px;
  margin-bottom: 0px;
}
.frontbox .image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

.frontbox .title {
    text-align: center;
  }

.col {
    max-width: 250px; /* establece un ancho máximo para evitar que los bloques se hagan demasiado grandes */
    max-height: 250px; /* establece una altura fija para crear bloques cuadrados */
  }
  



@media screen and (min-width: 0px) {
  .frontbox .image {
    max-width: 70%;
  }

  }
  
  @media screen and (min-width: 480px) {
    .frontbox .image {
      max-width: 70%;
    }

    }
@media screen and (min-width: 984px) {
  .frontbox .image {
    max-width: 70%;
  }

  }

  
@media screen and (min-width: 1280px) {
  .frontbox .image {
    max-width: 80%;
  }

    
}


.bs-callout {
    padding: 10px;
    margin: 15px 0;
    border: 2px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.summary {
    font-size: 120%;
    color: #808080;
    margin: 20px 0 20px 0;
    border-left: 5px solid #808080;
    padding-left: 10px;
}



.index-img .img {
  max-width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  max-height: 600px; /* set a maximum height for the image */
}



.getting-started-courses {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.getting-started-course {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 47%;
  padding: 30px;
  text-align: center;
}

.getting-started-course-image {
  margin-bottom: 30px;
}

.getting-started-course-image img {
  max-width: 60%;
}

.getting-started-course-title {
  color: #222;
  font-size: 28px;
  margin-bottom: 10px;
}

.getting-started-course-description {
  color: #777;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.getting-started-course-link {
  background-color: #11a4eb;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.getting-started-course-link:hover {
  background-color: #0d8ad2;
}
