.footer {
  border-top: 1px solid $gray-200;
  padding-top: 1.125rem;
  padding-bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  bottom: 0;
}







.footer ul {
  margin-bottom: 50px;
}

.footer li {
  font-size: $font-size-sm;
  margin-bottom: 10px;
}

.footer h6.text-uppercase {
  height: 30px; /* ajuste la altura según sus necesidades */
}

body, html {
  margin-bottom: 0;
}