<div id="mendable-component"></div>
<script src="https://unpkg.com/@mendable/search@0.0.155/dist/umd/mendable-bundle.min.js"></script>
<script>
  Mendable.initialize({
    anon_key: '50c8fedd-6c1c-4c63-80da-24d27122e897',
    type: 'chat',
    language:"en",
    icon: "/images/vendor/icons8-c-3po-96.png",
    floatingButtonStyle: {backgroundColor: "#E3F0FF"},
    welcomeMessage: "Hi there, I'm R2D2, how can I help you?",
    style: {accentColor: "#0073d2"},
    botIcon: "https://avatars.slack-edge.com/2021-09-12/2478458483909_bdd548e4bad6a8610844_72.png",
    userIcon: "https://ca.slack-edge.com/T1J842EH1-USG8FLL7R-g794cad30832-192"
  })
</script>
</div>