<footer class="footer text-muted">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row justify-content-center">
      <div class="col-lg-4" >
        <ul class="list-unstyled">
          <img src="/images/vendor/slingr_blue.png">
          <li>©2023 Slingr. All rights reserved. </li>
          <li>Site last generated: Apr 11, 2023</li>

        </ul>
      </div>
      <div class="col-lg-3">
        <h6 class="text-uppercase">Get started</h6>
        <ul class="list-unstyled">
          <li><a href="/getting-started/getting/where-to-start/">Where to start</a></li>
          <li><a href="/getting-started/getting/what_is_slingr/">What's Slingr?</a></li>
          <li><a href="/getting-started/getting/first-steps/main/">Take your first steps</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h6 class="text-uppercase">Platform <br> reference</h6>
        <ul class="list-unstyled">
          <li><a href="/platform-ref/slingr-platform/platform-concepts/">Platform concepts</a></li>
          <li><a href="/platform-ref/slingr-dev-portal/dev-portal-overview/">Developer portal</a></li>
          <li><a href="/platform-ref/slingr-dev-portal/managing-apps/">Managing apps</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h6 class="text-uppercase">Developer's reference</h6>
        <ul class="list-unstyled">
          <li><a href="/dev-reference/overview/overview/">Overview</a></li>
          <li><a href="/dev-reference/scripting/overview/">Javascript API</a></li>
          <li><a href="/dev-reference/rest-apis/apps-api/">REST API</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h6 class="text-uppercase">Extensions</h6>
        <ul class="list-unstyled">
          <li><a href="/extending/getting_started/overview/">Overview</a></li>
          <li><a href="/extending/official-ui-plugins/overview/">Official endpoints</a></li>
          <li><a href="/extending/extending-platform/create_your_own/">Create your endpoints</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
