{{ $filePath := "data/common.yml" }}
{{ $yamlContent := readFile $filePath }}
{{ $myobject := $yamlContent | unmarshal }}

{{ $objectName := .Get "object" }}
{{ $objectValue := index $myobject $objectName }}

<table class="table">
    <thead>
        <tr class="header">
            <th align="left">Path</th>
            <th align="left">Description</th>
        </tr>
    </thead>
    <tbody>
        {{- range $field := $objectValue.fields -}}
        <tr>
            <td align="left">
                <code>{{$field.path}}</code>
            </td>
            <td align="left">
                <p>{{ $field.description  | markdownify }}</p>
            </td>
        </tr>
    {{ end }}
    </tbody>
</table>