{{- $context := .Get "context" -}}
{{- $filePath := printf "data/flows/%s.yml" $context -}}
{{- $yamlContent := readFile $filePath -}}
{{- $myobject := $yamlContent | unmarshal -}}

{{ if $myobject.title }}
<h3>Summary</h3>
{{ end }}
{{ if $myobject.description }}
<p>{{ $myobject.description }}</p>
{{ end }}
{{ if $myobject.samples }}
{{- range $sample := $myobject.samples -}}
<div> 
 <img src="{{ $sample.img }}"/>
</div>
{{ end }}
{{ end }}

{{ if $myobject.steps }}
{{ range $index, $step := $myobject.steps }}
  {{ if $step.label }}
  <h3>Step: <code style="background-color:transparent">{{ $step.label }}</code></h3>
  {{ end }}

  <h5 style="font-size: 100%;">Inputs</h5>
  {{ if $step.inputs }}
  <table class="table" style="margin-bottom:0!important">
    <thead>
      <tr class="header">
        <th align="left">Label</th>
        <th align="left">Type</th>
        <th align="left">Value</th>
        <th align="left">Description</th>
      </tr>
    </thead>
    <tbody>
      {{ range $input := $step.inputs }}
      <tr>
        <td align="left">
          <p>{{ $input.label }}</p>
        </td>
        <td align="left">
          <p>
            <code class="highlighter-rouge">{{ $input.type }}</code>
          </p>
        </td>
        <td align="left">
          <p>
            <code class="highlighter-rouge">{{ $input.value }}</code>
          </p>
        </td>
        <td align="left">
          <p>{{ $input.description }}</p>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else }}
  <p>No configuration is needed.</p>
  {{ end }}

  <h5 style="font-size: 100%;">Outputs</h5>
  {{ if $step.outputs }}
  <table class="table" style="margin-top:0!important">
    <thead>
      <tr class="header">
        <th align="left">Name</th>
        <th align="left">Type</th>
        <th align="left">Description</th>
      </tr>
    </thead>
    <tbody>
      {{ range $output := $step.outputs }}
      <tr>
        <td align="left">
          <p>{{ $output.name }}</p>
        </td>
        <td align="left">
          <p>
            <code class="highlighter-rouge">{{ $output.type }}</code>
          </p>
        </td>
        <td align="left">
          <p>{{ $output.description }}</p>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else }}
  <p>No configuration is needed.</p>
  {{ end }}

  {{ if $step.context }}
  <h5 style="font-size: 100%;">Context</h5>
  <div class="contextExamples">
    {{ range $context := $step.context }}
    <div class="context-item">
      <span class="name">- {{ $context.label }}:</span> <span class="type">{{ $context.type }}</span>
    </div>
    {{ end }}
  </div>
  {{ end }}
{{ end }}
{{ end }}