{{- $context := .Get "context" -}}
{{- $filePath := printf "data/script_contexts/%s.yml" $context -}}
{{- $yamlContent := readFile $filePath -}}
{{- $myobject := $yamlContent | unmarshal -}}

{{ if $myobject.params }}
<h6>Parameters</h6>
<table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{- range $param := $myobject.params -}}
    <tr>
      <td>{{ $param.name | markdownify }}</td>
      <td><a href="/dev-reference/scripting/sys-data/#{{$param.type}}">{{ $param.type }}</a></td>
      <td>{{ $param.description | markdownify }}</td>
    </tr>
    {{- end -}}
  </tbody>
</table>
{{end}}

{{ if and $myobject.returnType $myobject.returnDescription }}
<h6>Returns</h6>
<code>{{ $myobject.returnType }}</code> - {{ $myobject.returnDescription | markdownify }}
{{ end }}

{{ if $myobject.samples }}
<h6>Samples</h6>
{{- range $param := $myobject.samples -}}
<pre><code>// {{ $param.title | markdownify }} 
{{ $param.code | safeHTML }}</code></pre>
{{- end -}}
{{ end }}
