<h6>Parameters</h6>
<table>
  {{- $context := .Get "context" -}}
  {{- $filePath := printf "data/script_contexts/%s.yml" $context -}}
  {{- $yamlContent := readFile $filePath -}}
  {{- $myobject := $yamlContent | unmarshal -}}
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{- range $param := $myobject.params -}}
    <tr>
      <td>{{ $param.name | markdownify }}</td>
      <td>{{ $param.type | markdownify }}</td>
      <td>{{ $param.description | markdownify }}</td>
    </tr>
    {{- end -}}
  </tbody>
</table>

{{ if and $myobject.returnType $myobject.returnDescription }}
<h6>Returns</h6>
<code>{{ $myobject.returnType }}</code> - {{ $myobject.returnDescription | markdownify }}
{{ end }}

{{ if $myobject.samples }}
<h6>Samples</h6>
{{- range $param := $myobject.samples -}}
<pre><code>// {{ $param.title | markdownify }} 
{{ $param.code | safeHTML }}</code></pre>
{{- end -}}
{{ end }}
