{{- $id := .Get "id" -}}
{{- $description := .Get "description" -}}
{{- $entity := .Get "entity" -}}
{{- $jsQueryMap := .Get "jsQueryMap" -}}
{{- $jsQueryBuilder := .Get "jsQueryBuilder" -}}
{{- $restApi := .Get "restApi" -}}

<div>
    <button class="query-button" data-id="{{ $id }}">Click me (Query {{ $id }})</button>
    <button class="query-button" data-id="{{ $id }}">Click me (Query {{ $id }})</button>
    <button class="query-button" data-id="{{ $id }}">Click me (Query {{ $id }})</button>
</div>


<script src="/js/query.js"></script>
