{{- $id := .Get "id" -}}
{{- $description := .Get "description" -}}
{{- $entity := .Get "entity" -}}
{{- $jsQueryMap := .Get "jsQueryMap" -}}
{{- $jsQueryBuilder := .Get "jsQueryBuilder" -}}
{{- $restApi := .Get "restApi" -}}

<ul id="query-sample-{{ $id }}" class="nav nav-tabs">
    {{- if $jsQueryMap -}}
    <li><button onclick="showTab('{{ $id }}', 'jsQueryMap-{{ $id }}')">JS Query Map</button></li>
    {{- end -}}
    {{- if $jsQueryBuilder -}}
    <li><button onclick="showTab('{{ $id }}', 'jsQueryBuilder-{{ $id }}')">JS Query Builder</button></li>
    {{- end -}}
    {{- if $restApi -}}
    <li><button onclick="showTab('{{ $id }}', 'rest-{{ $id }}')">REST API</button></li>
    {{- end -}}
</ul>
<div class="tab-content">
    {{- if $jsQueryMap -}}
    <div role="tabpanel" class="tab-pane active" id="jsQueryMap-{{ $id }}">
        <div>
            <pre><code>// {{ $description }} 
var records_{{ $id }} = sys.data.find('{{ $entity }}', {{ $jsQueryMap }});
log('total: '+records_{{ $id }}.count());
while (records_{{ $id }}.hasNext()) {
    log(records_{{ $id }}.next().label());
}</code></pre>
        </div>
    </div>
    {{- end -}}
    {{- if $jsQueryBuilder -}}
    <div role="tabpanel" class="tab-pane" id="jsQueryBuilder-{{ $id }}">
        <div>
            <pre><code>// {{ $description }} 
var query_{{ $id }} = sys.data.createQuery('{{ $entity }}')
    {{ $jsQueryBuilder }}
var records_{{ $id }} = sys.data.find(query_{{ $id }});
log('total: '+records_{{ $id }}.count());
while (records_{{ $id }}.hasNext()) {
    log(records_{{ $id }}.next().label());
}</code></pre>
        </div>
    </div>
    {{- end -}}
    {{- if $restApi -}}
    <div role="tabpanel" class="tab-pane" id="rest-{{ $id }}">
        <div>
            <pre><code>// {{ $description }} 
GET /data/contacts?{{ $restApi }}</code></pre>
        </div>
    </div>
    {{- end -}}
</div>

<script>
    function showTab(id, tabId) {
        var tab = document.getElementById(tabId);
        tab.classList.add('active');
        
        var otherTabs = Array.from(tab.parentNode.children).filter(function(child) {
            return child !== tab;
        });
        
        otherTabs.forEach(function(otherTab) {
            otherTab.classList.remove('active');
        });
    }
</script>
