<div class="">
    {{ .Inner }}
    <div class="getting-started-courses">
        <div class="getting-started-course">
          <div class="getting-started-course-image">
            <img src="/images/vendor/event.png" alt="Survey Icon">
          </div>
          <div class="getting-started-course-info">
            <h3 class="getting-started-course-title">Working with Event Planner</h3>
            <p class="getting-started-course-description" style="height: 100px;">In this tutorial we are going to make some improvements to the Event Planner App. The estimated time of completion is 15 minutes.</p>
            <a class="getting-started-course-link" href="#">Start Now</a>
          </div>
        </div>
        
        <div class="getting-started-course">
          <div class="getting-started-course-image">
            <img src="/images/vendor/book.png" alt="Survey Icon">
          </div>
          <div class="getting-started-course-info">
            <h3 class="getting-started-course-title">Working with Task Manager App</h3>
            <p class="getting-started-course-description" style="height: 100px;">In this app, users will be able to create tasks, assign them to other users, move them through different columns and send notifications to Slack channels. Estimated time: 40'</p>
            <a class="getting-started-course-link" href="#">Start Now</a>
          </div>
        </div>
      </div>
      
</div>
