

{{- $typeName := .Get "type" -}}
{{- $filePath := printf "data/types/%s.yml" $typeName -}}
{{- $yamlContent := readFile $filePath -}}
{{- $typeData := $yamlContent | unmarshal -}}

<h2>Available operators</h2>
<table class="table">

    <thead>
        <tr class="header">
            <th align="left" width="30%">Name</th>
            <th align="left" width="20%">Supported</th>
            <th align="left" width="50%">Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left"><p>Many multiplicity</p></td>
            <td align="left"><p>{{ if $typeData.features.manyMultiplicity.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.features.manyMultiplicity.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Default values</p></td>
            <td align="left"><p>{{ if $typeData.features.defaultValue.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.features.defaultValue.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Unique flag</p></td>
            <td align="left"><p>{{ if $typeData.features.uniqueFlag.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.features.uniqueFlag.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Required flag</p></td>
            <td align="left"><p>{{ if $typeData.features.requiredFlag.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.features.requiredFlag.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Indexable flag</p></td>
            <td align="left"><p>{{ if $typeData.features.indexableFlag.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.features.indexableFlag.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Sensitive flag</p></td>
            <td align="left"><p>{{ if $typeData.features.sensitiveFlag.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.features.sensitiveFlag.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Calculated value</p></td>
            <td align="left"><p>{{ if $typeData.features.calculatedValue.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.features.calculatedValue.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Automatic initialization</p></td>
            <td align="left"><p>{{ if $typeData.features.automaticInitialization.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.features.automaticInitialization.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Calculated initial value</p></td>
            <td align="left"><p>{{ if $typeData.features.calculatedInitialValue.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.features.calculatedInitialValue.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Aggregation</p></td>
            <td align="left"><p>{{ if $typeData.features.aggregation.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.features.aggregation.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Default type rules</p></td>
            <td align="left"><p>{{ if $typeData.features.defaultTypeRules.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.features.defaultTypeRules.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Default display options</p></td>
            <td align="left"><p>{{ if $typeData.features.defaultDisplayOptions.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.features.defaultDisplayOptions.notes | markdownify }}</p></td>
        </tr>        
        <!-- Add similar code blocks for other features -->
    </tbody>
</table>


<h2>Type Rules</h2>
{{ if $typeData.typeRules }}
  {{ range $typeData.typeRules }}
  <h3>{{ .name | safeHTML }}</h3>
  {{ .description | markdownify }}
  {{ end }}
{{ else }}
No type rules.
{{ end }}




<h2>Display Options</h2>
{{ if eq (len $typeData.displayOptions) 0 }}
No display options.
{{ else }}
{{ range $typeData.displayOptions }}
<h3>{{ .name | safeHTML }}</h3>

{{ .description | markdownify }}
{{ end }}
{{ end }}

<h2>REST API - Read format</h2>
{{ $typeData.restApi.readFormat | markdownify }}

<h2>REST API - Write format</h2>
{{ $typeData.restApi.writeFormat | markdownify }}

<h2>Javascript API - Read format</h2>
{{ $typeData.jsApi.readFormat | markdownify }}

<h2>Javascript API - Write format</h2>
{{ $typeData.jsApi.writeFormat | markdownify }}

<h2> Javascript API - Wrapper </h2>
{{ $jsapi := index site.Data.jsapi.types $typeData.name }}

<h2>Export format</h2>
{{ $typeData.exportImport.exportFormat | markdownify }}

<h2>Import format</h2>
{{ $typeData.exportImport.importFormat | markdownify }}

<h2>Queries </h2>
Please refer to the documentation for the available operators in the query language.

<h2>Available operators</h2>

<table class="table">
    <thead>
        <tr class="header">
            <th align="left" width="30%">Operator</th>
            <th align="left" width="20%">Supported</th>
            <th align="left" width="50%">Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left"><p>equals</p></td>
            <td align="left"><p>{{ if $typeData.Page.Params.typeData.queries.operators.equals.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.Page.Params.typeData.queries.operators.equals.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>notEquals</p></td>
            <td align="left"><p>{{ if $typeData.Page.Params.typeData.queries.operators.notEquals.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.Page.Params.typeData.queries.operators.notEquals.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>empty</p></td>
            <td align="left"><p>{{ if $typeData.Page.Params.typeData.queries.operators.empty.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.Page.Params.typeData.queries.operators.empty.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>notEmpty</p></td>
            <td align="left"><p>{{ if $typeData.Page.Params.typeData.queries.operators.notEmpty.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.Page.Params.typeData.queries.operators.notEmpty.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>like</p></td>
            <td align="left"><p>{{ if $typeData.Page.Params.typeData.queries.operators.like.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.Page.Params.typeData.queries.operators.like.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>greater</p></td>
            <td align="left"><p>{{ if $typeData.Page.Params.typeData.queries.operators.greater.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.Page.Params.typeData.queries.operators.greater.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>greaterOrEquals</p></td>
            <td align="left"><p>{{ if $typeData.Page.Params.typeData.queries.operators.greaterOrEquals.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.Page.Params.typeData.queries.operators.greaterOrEquals.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>less</p></td>
            <td align="left"><p>{{ if $typeData.Page.Params.typeData.queries.operators.less.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.Page.Params.typeData.queries.operators.less.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>lessOrEquals</p></td>
            <td align="left"><p>{{ if $typeData.Page.Params.typeData.queries.operators.lessOrEquals.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.Page.Params.typeData.queries.operators.lessOrEquals.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>between</p></td>
            <td align="left"><p>{{ if $typeData.Page.Params.typeData.queries.operators.between.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.Page.Params.typeData.queries.operators.between.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>currentUserField</p></td>
            <td align="left"><p>{{ if $typeData.Page.Params.typeData.queries.operators.currentUserField.supported }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.Page.Params.typeData.queries.operators.currentUserField.notes | markdownify }}</p></td>
        </tr>
        
    </tbody>
</table>

<h3>Query formats</h3>

{{ $typeData.queries.format | markdownify }}

<h2> Aggregate queries</h2>

****************************

<h3> Available operators </h3>

<table class="table">
    <thead>
        <tr class="header">
            <th align="left" width="30%">Operator</th>
            <th align="left" width="20%">Supported</th>
            <th align="left" width="50%">Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left"><p>sum</p></td>
            <td align="left"><p>{{ if or $typeData.aggregateQueries.operators.sum.supported true (eq $typeData.aggregateQueries.operators.sum.supported "yes") }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.aggregateQueries.operators.sum.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>avg</p></td>
            <td align="left"><p>{{ if or $typeData.aggregateQueries.operators.avg.supported true (eq $typeData.aggregateQueries.operators.avg.supported "yes") }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.aggregateQueries.operators.avg.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>first</p></td>
            <td align="left"><p>{{ if or $typeData.aggregateQueries.operators.first.supported true (eq $typeData.aggregateQueries.operators.first.supported "yes") }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.aggregateQueries.operators.first.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>last</p></td>
            <td align="left"><p>{{ if or $typeData.aggregateQueries.operators.last.supported true (eq $typeData.aggregateQueries.operators.last.supported "yes") }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.aggregateQueries.operators.last.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>min</p></td>
            <td align="left"><p>{{ if or $typeData.aggregateQueries.operators.min.supported true (eq $typeData.aggregateQueries.operators.min.supported "yes") }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.aggregateQueries.operators.min.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>max</p></td>
            <td align="left"><p>{{ if or $typeData.aggregateQueries.operators.max.supported true (eq $typeData.aggregateQueries.operators.max.supported "yes") }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.aggregateQueries.operators.max.notes | markdownify }}</p></td>
        </tr>
    </tbody>
</table>


<h2> UI queries </h2>

*****

<h3> Matching of values </h3>

<table class="table">
    <thead>
        <tr class="header">
            <th align="left" width="30%">Property</th>
            <th align="left" width="70%">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left"><p>Matching operator</p></td>
            <td align="left">
                <p><code class="highlighter-rouge">{{ $typeData.uiQueries.matching.operator }}</code></p>
                <p>
                    {{ $typeData.uiQueries.matching.notes | markdownify }}
                </p>
            </td>
        </tr>
        <tr>
            <td align="left"><p>Special values</p></td>
            <td align="left"><p>{{ $typeData.uiQueries.matching.specialValues | markdownify }}</p></td>
        </tr>
    </tbody>
</table>


<h3> Available operators </h3>

<table class="table">
    <thead>
        <tr class="header">
            <th align="left" width="30%">Operator</th>
            <th align="left" width="20%">Supported</th>
            <th align="left" width="50%">Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left"><p>Many values</p></td>
            <td align="left"><p>{{ if or (eq $typeData.uiQueries.operators.manyValues.supported true) (eq $typeData.uiQueries.operators.manyValues.supported "yes") }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.uiQueries.operators.manyValues.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Greater</p></td>
            <td align="left"><p>{{ if or (eq $typeData.uiQueries.operators.greater.supported true) (eq $typeData.uiQueries.operators.greater.supported "yes") }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.uiQueries.operators.greater.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Greater or equals</p></td>
            <td align="left"><p>{{ if or (eq $typeData.uiQueries.operators.greaterOrEquals.supported true) (eq $typeData.uiQueries.operators.greaterOrEquals.supported "yes") }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.uiQueries.operators.greaterOrEquals.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Less</p></td>
            <td align="left"><p>{{ if or (eq $typeData.uiQueries.operators.less.supported true) (eq $typeData.uiQueries.operators.less.supported "yes") }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.uiQueries.operators.less.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Less or equals</p></td>
            <td align="left"><p>{{ if or (eq $typeData.uiQueries.operators.lessOrEquals.supported true) (eq $typeData.uiQueries.operators.lessOrEquals.supported "yes") }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.uiQueries.operators.lessOrEquals.notes | markdownify }}</p></td>
        </tr>
        <tr>
            <td align="left"><p>Between</p></td>
            <td align="left"><p>{{ if or (eq $typeData.uiQueries.operators.between.supported true) (eq $typeData.uiQueries.operators.between.supported "yes") }}yes{{ else }}no{{ end }}</p></td>
            <td align="left"><p>{{ $typeData.uiQueries.operators.between.notes | markdownify }}</p></td>
        </tr>
    </tbody>
</table>

