/* Catamaran Regular - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/catamaran/v14/o-0IIpQlx3QUlC5A4PNjXhFQcKtM.ttf') format('truetype');
  }
  
  /* Catamaran Medium - latin */
  @font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/catamaran/v14/o-0OIpQlx3QUlC5A4PNr5TRG.ttf') format('truetype');
  }
  
  /* Catamaran Bold - latin */
  @font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/catamaran/v14/o-0NIpQlx3QUlC5A4PNjWj5hmA.ttf') format('truetype');
  }
  
  /* Catamaran Regular Italic - latin */
  @font-face {
  font-family: 'Catamaran';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/catamaran/v14/o-0MIpQlx3QUlC5A4PNr4x5PIA.ttf') format('truetype');
  }
  
  /* Catamaran Medium Italic - latin */
  @font-face {
  font-family: 'Catamaran';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/catamaran/v14/o-0TIpQlx3QUlC5A4PNr4x5PKpLR.ttf') format('truetype');
  }
  
  /* Catamaran Bold Italic - latin */
  @font-face {
  font-family: 'Catamaran';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/catamaran/v14/o-0QIpQlx3QUlC5A4PNr4x5hGavODzs.ttf') format('truetype');
  }


/* Catamaran Regular - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/catamaran/v14/o-0IIpQlx3QUlC5A4PNjXhFQcKtM.ttf') format('truetype');
  }
  
  /* Catamaran Medium - latin */
  @font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/catamaran/v14/o-0OIpQlx3QUlC5A4PNr5TRG.ttf') format('truetype');
  }
  
  /* Catamaran Bold - latin */
  @font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/catamaran/v14/o-0NIpQlx3QUlC5A4PNjWj5hmA.ttf') format('truetype');
  }
  
  /* Catamaran Regular Italic - latin */
  @font-face {
  font-family: 'Catamaran';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/catamaran/v14/o-0MIpQlx3QUlC5A4PNr4x5PIA.ttf') format('truetype');
  }
  
  /* Catamaran Medium Italic - latin */
  @font-face {
  font-family: 'Catamaran';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/catamaran/v14/o-0TIpQlx3QUlC5A4PNr4x5PKpLR.ttf') format('truetype');
  }
  
  /* Catamaran Bold Italic - latin */
  @font-face {
  font-family: 'Catamaran';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/catamaran/v14/o-0QIpQlx3QUlC5A4PNr4x5hGavODzs.ttf') format('truetype');
  }